<h1>New Owner</h1>
<form class="" action="/owners" method="post">
    <fieldset>
        <label for="owner[name]">Name</label>
        <input type="text" name="owner[name]" value="" required="">
        <p class="input-invalid">
          You must have a name!
        </p>
    </fieldset>
    <fieldset>
        <label for="owner[notes]">Notes</label>
        <textarea name="owner[notes]" rows="8" cols="40"></textarea>
    </fieldset>
    <button type="submit" name="button">Save Owner</button>
</form>
